$light-gray: #ddd;
$lighter-gray: #ccc;
$gray: #666;
$blue: rgba(32,26,162,.866667);
$blue-back: rgba(32,26,162,.45);
$orange: rgba(255,24,0, .9);
$orange-back: rgba(255,69,0, .35);
$red: #ff0730;
$red-back: rgba(255,7,58,.4);
$green-back: rgba(40,167,69,.55);
$green: #247a45;
$yellow: #cc7202;
$yellow-back: rgba(#cca202, .4);
$yellow-tint: #f2d53c;
$purple: #7d0cff;
$red1: #ff7f7f;
$red2: #ff4c4c;
$red3: #ff1919;
$red4: #e50000;
$red5: #b20000;
$red6: #7f0000