$light-gray: #ddd;
$lighter-gray: #ccc;
$gray: #666;
$blue: #fff;
$blue-back: #000;
$orange: #3d3d3f;
$orange-back: #dfd5d3;
$red-back: #f1a104;
$red: #040;
$green-back: #00c07f;
$green: #313d4b;
$yellow: #7acfd6;
$yellow-back: #b11021;
$yellow-tint: #f2d53c;
$purple: #7d0cff;
$red1: #ff7f7f;
$red2: #ff4c4c;
$red3: #ff1919;
$red4: #e50000;
$red5: #b20000;
$red6: #7f0000;
$dark: #191919;
$pale: #f19f0f;
$mint: #2ac56c;