@import "./../../sass/variables";

.home{
    margin-top: 2rem;
    font-size: 2rem;
    margin-left: 1rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    background-color: $light-gray;
    box-shadow: .25rem .25rem $gray;
}
.none{
    text-decoration: none;
    color: black;
    text-decoration-line: underline;
}