@import "./../../sass/animations";
@import "./../../sass/variables";
@import "./../../sass/animations";

.wrap{
    animation: upToDown .5s;
    &_flex{
        display: flex;
        flex-direction: row;
        &_head{
            flex: 7;
            max-width: 70%;
            &_heading{
                font-size: 4.5rem;
                font-weight: 900;
                margin: 2rem auto;
                text-shadow: 2px 2px $lighter-gray;
            }
            &_sub{
                text-transform: uppercase;
                color: $gray;
                margin-bottom: 2rem;
            }
        }
        &_list{
            max-width: 30%;
            flex: 3;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            transition: all .5s ease;
            margin-bottom: 2rem;
            &_item{
                transition: all .5s ease;
                width: 4rem;
                position: relative;
                border-radius: .175rem;
                height: .5rem;
                background-color: black;
                margin: .25rem auto;
            }
        }
    }
}
.sendRight{
    animation: goOutRight .5s ease forwards;
}

.bringBack{
    animation: comeFromRight .5s ease forwards;
}

.expander{
    height: 70vh;
    width: 80%;
    z-index: 1;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    display: none;
    left: 10%;
    margin: auto;
    top: 5%;
    &_button{
        justify-content: center;
        align-items: center;
        margin: auto;
        cursor: pointer;
        border-radius: 50%;
        padding: .25rem;
        height: 5.5rem;
        width: 5.5rem;
        background-color: white;
        &>div{
            transition: all .5s ease;
            width: 3rem;
            position: relative;
            border-radius: .175rem;
            height: .4rem;
            background-color: black;
        }
        &_item{
            margin: 2.5rem auto;
            transform: rotate(-45deg);
        }
        &_item2{
            margin: -2.95rem auto;
            transform: rotate(45deg);
        }
    }
    &_container{
        background-color: white;
        border-radius: .75rem;
        margin: 3rem 0;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        &_actual{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &_text{
                text-transform: uppercase;
                font-size: 2.75rem;
                color: black;
                text-align: center;
                margin-bottom: 1.25rem;
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #a0a0a0, $alpha: .6);
                }
                font-weight: 600;
            }
        }
    }
}

.hideGradually{
    display: none;
}

.showExpander{
    display: flex;
    animation: showGradually .5s forwards ease;
}