@import "./../../sass/variables";
@import "./../../sass/animations";

.wrap{
    animation: upToDown .5s;
    cursor: pointer;
    text-transform: uppercase;
    margin: 2rem auto;
    font-weight: 800;
    font-size: 1.25rem;
    &_key{
        color: $blue-back;
    }
    &_value{
        font-size: 1.5rem;
        color: $blue;
    }
}